body {
  font-family: 'Shantell Sans', cursive;
  font-size:large;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../Img/BackGround-01.png);
}




